* {
    margin: 0;
    padding: 0;
}

.task {
    padding: 15px;
    border: 2px solid #000;
}

.task-title {
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}

.task-description {
    margin-bottom: 10px;
    text-align: center;
}

.task-2-5-group {
    display: grid;
    grid-template: 1fr 1fr 1fr/20% 1fr;
}

.task2 {
    grid-row: 1/span 3;
}

.task6-decision {
    display: flex;
    justify-content: space-between;
}